.searchbar {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .searchbar {
    visibility: hidden;
    width: 0;
  }

  .searchinput {
    width: 0;
  }
}

.searchinput {
  margin: 0 13px;
  height: 38px;
}
