.header {
  background-color: #dcbe87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 20px;
}

.header__heading {
  text-decoration: none;
  font-size: 40px;
}

.header__user {
  display: flex;
}

.header__username {
  margin-bottom: 10px;
  font-weight: lighter;
}

.photo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-right: 15px;
}

.user-info {
  display: flex;
}