.main__content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 70px 140px;
}

@media (max-width: 500px) {
  .main__content {
    padding: 70px 10px;
  }
}

.danger {
  background-color: #941111;
}

.form__default {
  display: flex;
  width: 550px;
  margin-bottom: 25px;
  flex-direction: column;
}

@media (max-width: 500px) {
  .form__default {
    display: flex;
    width: 300px;
    margin-bottom: 25px;
    flex-direction: column;
  }
}

.button__container {
  max-width: 200px;
  margin-top: 10px;
}

.global__bottom-margin {
  margin-bottom: 10px;
}