.main__content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 70px 140px;
}

.danger {
  background-color: #941111;
}

.form__default {
  display: flex;
  width: 550px;
  margin-bottom: 25px;
  flex-direction: column;
}

.button__container {
  max-width: 200px;
}