header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  
  }
  
  .header div{
    height: 1.5em;

    display: inline-flex;
    justify-content: space-between;
    align-content: flex-start;
    
  
  }

  .header input{
      margin-right: 1em;
  }

  .header button{
    padding: 0px;
    text-align: center;
    width: 2.5em;
  }